* {
  box-sizing: border-box;
}

body {
  margin: 2%;
  background: rgb(50,205,207);
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
  /* height: 100%; */
  /* width: 100%;  */
}